* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}

#mapa {
    width: 100%;
    height: 80%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.titmapa {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.abrir {
    animation: abrirpol 3s ease-in-out;
}

.cerrar {
    animation: cerrarpol 3s ease-in-out;
}

#myheader {
    display: none;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, #000000 0%, #293949 100% 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    -webkitclip-path: polygon(0 100%, 100% 79%, 100% 0, 0 0);
    clip-path: polygon(0 100%, 100% 77%, 100% 0, 0 0);
}

.head-ing {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
}

.head-ing a {
    font-size: 40px;
    text-decoration-line: none;
    color: #fff;
}

.head-ing:hover {
    transform: scale(1.1);
    transition: transform 1s;
}

.icono_carro {
    filter: invert(100);
    width: 80px;
    height: 80px;
    margin: 0 10px;
}

.head-ing:hover>.icono_carro {
    transform: scale(1.1);
    transition: transform 1s;
}

.acceso {
    top: 5px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    z-index: 100;
    border-radius: 10px;
}

.acceso>a>img {
    background: #fff;
    padding: 2px;
    box-shadow: 1px solid #000;
}

.acceso>a>img:hover {
    transform: scale(1.2);
    transition: transform 1s;
}

.btn-group button {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn-group button:hover {
    transform: scale(1.2);
    transition: transform 1s;
}

.dropdown-menu {
    background: #004958;
}

.dropdown-menu a {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 2px rgb(2, 2, 2);
    border-bottom: 2px solid #247F88;
}

.dropdown-menu a:hover {
    background: #004958;
    padding: 10px;
    color: #1FB198;
}

.ing {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ilustracion_ing {
    position: relative;
    width: 150px;
    height: 150px;
}

.ilustracion_ing:hover {
    transform: scale(1.3);
    transition: transform 1s;
}

.ing form {
    border: 2px solid #004958;
    width: 300px;
    height: 410px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px solid #000;
    padding: 40px;
    overflow: hidden;
}

.ing form:hover {
    transform: scale(1.02);
    transition: transform 0.5s;
}

.ing form label {
    color: #002e57;
    text-shadow: 1px 1px 1px solid #000;
}

.ing form label:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.ing form small a {
    text-decoration: none;
}

.ing form small:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.ing form div:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}

#mytexte,
#mytextp,
#mytextRe,
#mytextRp,
#mytextn,
#mytexta {
    display: block;
    width: 100%;
    font-weight: 300;
    font-size: 15px;
    padding: 5px;
    font-style: italic;
}

#form.invalide #mytexte:before,
#form.invalidp #mytextp:before,
#formR.invalide #mytextRe:before,
#formR.invalidp #mytextRp:before,
#formR.invalidn #mytextn:before,
#formR.invalida #mytexta:before {
    content: '';
    position: absolute;
    right: -32px;
    top: 8px;
    width: 24px;
    height: 24px;
    background: url(../imagenes/invalid.png);
    background-size: cover;
    z-index: 1000;
}

#form.valide #mytexte:before,
#form.validp #mytextp:before,
#formR.valide #mytextRe:before,
#formR.validp #mytextRp:before,
#formR.validn #mytextn:before,
#formR.valida #mytexta:before {
    content: '';
    position: absolute;
    right: -32px;
    top: 8px;
    width: 24px;
    height: 24px;
    background: url(../imagenes/valid.png);
    background-size: cover;
    z-index: 1000;
}

.reg {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ilustracion_reg {
    position: relative;
    width: 300px;
    height: 150px;
}

.ilustracion_reg:hover {
    transform: scale(1.3);
    transition: transform 1s;
}

.reg form {
    border: 2px solid #004958;
    width: 350px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px solid #000;
    padding: 50px;
}

.reg form:hover {
    transform: scale(1.02);
    transition: transform 1s;
}

.reg form small a {
    text-decoration: none;
}

.reg form small:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.reg form div:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.reg .cfoto {
    display: flex;
    overflow: hidden;
}

.perfil {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: space-evenly;
}

.perfil img {
    width: 40%;
}

.fcambios {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    background: #004958;
    border-radius: 10px;
    color: #fff;
    padding: 30px;
    flex-direction: column;
}

.campo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #fff;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
}

.Cder {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 25px;
}

.title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #004958;
    font-weight: 800;
    text-shadow: 1px 1px 1px #000;
}

.title:hover {
    transform: scale(1.05);
    transition: transform 0.6s ease-in-out;
}

.noti {
    margin: 10px;
}

.noti a {
    text-decoration: none;
}

.noti p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-align: center;
    padding: 10px;
}

.noti p:hover {
    color: #1FB198;
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}

.noti2 {
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 10px;
    border: 3px solid #fff;
    border-radius: 10px;
    align-items: center;
}

.noti2:hover {
    transform: scale(1.2);
    transition: transform 1s;
    z-index: 1000;
}

.noti2 .eimn {
    height: 60%;
}

.noti2 .eimn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.noti2 img:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
    object-fit: fill;
    overflow: hidden;
}

.noti iframe {
    width: 100%;
    height: 70%;
}

.noti iframe:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}


/* footer */

footer {
    font-family: 'Playfair Display', serif;
    background: #002e57;
    background-image: linear-gradient(to right, #000000 0%, #293949 100% 100%);
    padding-bottom: 0.1px;
    padding-top: 40px;
    clip-path: polygon(0 33%, 100% 0, 100% 100%, 0% 100%);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.contact-us {
    width: 40%;
    color: #fff;
}

.contact-us .brand {
    font-weight: 500;
    font-size: 40px;
}

.contact-us .brand:hover {
    transform: scale(1.1);
    transition: transform 1s;
}

.contact-us p {
    font-size: 15px;
    font-weight: 500;
}

.contact-us p:hover {
    transform: scale(1.2);
    transition: transform 1s;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover {
    transform: scale(1.3);
    transition: transform 1s;
    background: #fff;
    color: #002e57;
    justify-content: center;
}

.social-media-icon i {
    font-size: 30px;
    line-height: 60px;
}

.social-media-icon i:hover {
    transform: scale(1.3);
    transition: transform 1s;
}

.line {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 20px;
}

.line:hover {
    transform: scale(1.2);
    transition: transform 1s;
}

@media screen and (max-width:800px) {
    .fcambios {
        padding: 20px;
    }
    .Cder {
        font-size: 20px;
    }
    .perfil {
        padding: 20px;
    }
    .perfil img {
        width: 30%;
    }
    .ilustracion_ing {
        width: 120px;
        height: 120px;
    }
    .ing form {
        width: 300px;
        height: 410px;
        padding: 40px;
    }
    .btn-group button {
        font-weight: 400;
        font-size: 20px;
    }
    .dropdown-menu a {
        text-shadow: 1px 1px 1px rgb(2, 2, 2);
    }
    .contact-us .brand {
        font-weight: 400;
        font-size: 30px;
    }
}

@media screen and (max-width:600px) {
    .fcambios {
        width: 80%;
    }
    .perfil img {
        width: 60%;
    }
    .ilustracion_ing {
        width: 100px;
        height: 100px;
    }
    .ing form {
        width: 300px;
        height: 410px;
        padding: 30px;
    }
    .head-ing h1 {
        display: none;
    }
    #myheader a {
        display: none;
    }
    #mytexte,
    #mytextp,
    #mytextRe,
    #mytextRp,
    #mytextn,
    #mytexta {
        font-size: 10px;
        padding: 3px;
    }
    .reg form {
        width: 300px;
        height: 500px;
        padding: 30px;
    }
    #form.invalide #mytexte:before,
    #form.invalidp #mytextp:before,
    #formR.invalide #mytextRe:before,
    #formR.invalidp #mytextRp:before,
    #formR.invalidn #mytextn:before,
    #formR.invalida #mytexta:before {
        right: -22px;
        top: 8px;
        width: 15px;
        height: 15px;
    }
    #form.valide #mytexte:before,
    #form.validp #mytextp:before,
    #formR.valide #mytextRe:before,
    #formR.validp #mytextRp:before,
    #formR.validn #mytextn:before,
    #formR.valida #mytexta:before {
        right: -22px;
        top: 8px;
        width: 15px;
        height: 15px;
    }
    .ilustracion_reg:hover {
        transform: scale(1.1);
        transition: transform 1s;
    }
    .title {
        font-size: 20px;
    }
    .noti p {
        font-size: 15px;
    }
    footer {
        padding-top: 40px;
        clip-path: polygon(0 33%, 100% 0, 100% 100%, 0% 100%);
    }
    .footer-content {
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    .contact-us p {
        font-size: 10px;
        font-weight: 300;
    }
    .contact-us {
        width: 100%;
    }
    .social-media {
        width: 100%;
        justify-content: center;
    }
    .line {
        margin-top: 10px;
    }
}

@media screen and (max-width:370px) {
    .fcambios {
        padding: 10px;
    }
    .Cder {
        font-size: 10px;
    }
    .perfil {
        padding: 10px;
    }
    .reg {
        font-size: 15px;
    }
    .reg form {
        width: 300px;
        height: 490px;
        padding: 30px;
    }
}

@media screen and (max-width:319px) {
    .ing {
        font-size: 15px;
    }
    .ing form {
        width: 200px;
        height: 400px;
        padding: 30px;
    }
    .reg {
        font-size: 15px;
    }
    .reg form {
        width: 200px;
        height: 530px;
        padding: 30px;
    }
}

@keyframes abrirpol {
    0% {
        -webkitclip-path: polygon(0 56%, 100% 57%, 100% 57%, 0 56%);
        clip-path: polygon(0 56%, 100% 57%, 100% 57%, 0 56%);
    }
    100% {
        -webkitclip-path: polygon(0 100%, 100% 79%, 100% 0, 0 0);
        clip-path: polygon(0 100%, 100% 79%, 100% 0, 0 0);
    }
}

@keyframes cerrarpol {
    0% {
        -webkitclip-path: polygon(0 100%, 100% 79%, 100% 0, 0 0);
        clip-path: polygon(0 100%, 100% 79%, 100% 0, 0 0);
    }
    100% {
        -webkitclip-path: polygon(0 56%, 100% 57%, 100% 57%, 0 56%);
        clip-path: polygon(0 56%, 100% 57%, 100% 57%, 0 56%);
    }
}